<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PeronTipsLtd Home</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Welcome to PeronTipsLtd</h1>
    <p>This is the home page.</p>
  </body>
</html>
